---
import Layout from '../layouts/Layout.astro';
import Project from '../components/Project.astro';
import { projects } from '../projects';
---

<Layout title="Home">
	<main class="m-auto p-4 max-w-prose">
		<h1>Hi, I'm Chris</h1>
		<h2 class="mb-2">I make robots, webapps, Minecraft plugins, Discord bots, and just about everything else.</h2>
		
		<ul role="list">
			{projects.map(project => (
				<Project project={project}/>
			))}
		</ul>
	</main>
</Layout>