@tailwind base;

@tailwind components;

@tailwind utilities;

.theme-light {
    --bg-background-primary: white;
    --bg-background-secondary: #f7fafc;
    --bg-background-tertiary: #e2e8f0;

    --bg-background-form: white;

    --text-copy-primary: #2d3748;
    --text-copy-secondary: #4a5568;

    --border-border-color-primary: white;
    --bg-background-success: #68d391;
    --bg-background-error: #fc8181;
}

.theme-dark {
    --bg-background-primary: #0D2438;
    --bg-background-secondary: #102C44;
    --bg-background-tertiary: #1E3951;

    --bg-background-form: #1a202c;

    --text-copy-primary: #cbd5e0;
    --text-copy-secondary: #e2e8f0;

    --border-border-color-primary: #1a202c;
    --bg-background-success: #2f855a;
    --bg-background-error: #9b2c2c;
}

.theme-dark .markdown-body {
    color: #cbd5e0;
}

.theme-dark nav .active {
    @apply border-white border-b;
}

.content-wrapper {
    transition: background-color .25s;
}

a {
    @apply text-blue-700 font-bold;
}

a:hover {
    @apply text-blue-800;
}

nav .active {
    font-weight: bold;
    @apply border-black border-b;
}

.container-inner {
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 640px) {
    .container-inner {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container-inner {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container-inner {
        max-width: 800px;
    }
}

.responsive-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
